<!DOCTYPE html>
<html>
<head>
  <script src="https://unpkg.com/htmx.org"></script>
  <link rel="stylesheet" href="https://unpkg.com/missing.css"/>
  <title>Template Fragment Example</title>
</head>
<body>
  <h1>Template Fragment Example</h1>

  <p>This page demonstrates how to create and serve
  <a href="https://htmx.org/essays/template-fragments/">template fragments</a>
  using the <a href="https://pkg.go.dev/text/template">built-in template package</a> in Go.</p>

  <p>This is accomplished by using the "block" action in the template, which lets you
  define and execute a sub-template in a single step.</p>

  <!-- Here's the fragment.  We can target it by executing the "buttonOnly" template. -->
  {{block "buttonOnly" .}}
    <button hx-get="/?counter={{.next}}&template=buttonOnly" hx-swap="outerHTML">
      This Button Has Been Clicked {{.counter}} Times
    </button>
  {{end}}

</body>
</html>
